<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestCssCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestCssCompiler.Properties.Settings>
            <setting name="FileNameSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathTarget" serializeAs="String">
                <value/>
            </setting>
        </TestCssCompiler.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
