_ Datos de la página
$PageWidth: 1050px
$PageColorBackground: White

_ Colores y parámetros del cuerpo
$BodyColorBackground: White
$BodyFontNormal: 10pt
$BodyFontSmall: 0.9em
$BodyLineHeight: 1.4em
$BodyMinWidth: 800px

_ Color de fondo de la barra lateral
$AsideBackColor: White

_ Color de fondo del pie
$FootBackColor: #FEFEFE

_ Color de fondo para los artículos de cabecera
$LeadingArticleColorBackground: White

_ Color de fondo para los artículos
$ArticleColorBackground: White