_Colores
$BodyColorBackground: #F0EDE0
$BodyFontNormal: 14px
$BodyFontSmall: 10px
$BodyLineHeight: 20px
$BodyMinWidth: 800px

$PageWidth: 1050px
$PageColorBackground: #E7E0E0

$AsideColorBackground: #E7EAEA

$MarginTop: 20px

$MarginBottom: 20px

_ Color de fondo para los artículos de cabecera
$LeadingArticleColorBackground: #F0EDE0

_ Color de fondo para los artículos
$ArticleColorBackground: #E7EAEA

_ Layout artículo
$mixin LayoutArticle $Background $MarginTop $MarginBottom
	background-color: $Background
	display: inline-block
	width: 98%
	padding-bottom: 50px
	margin-top: $MarginTop
	margin-bottom: $MarginBottom
